.logo_container {
    display: flex;
    place-content: center;
    background: white;
}

.logo_custom {
    width: 10rem;
}

.back-button {
    place-content: start;
    position: absolute;
    margin: 1rem;
}