table,
th,
td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

.logo_product {
    width: 2.5rem;
}

.container_table {
    position: relative;
    padding: 2rem;
}

.container_table_in {
    padding: 1rem;
    background: white;
}

.footer_table {
    padding-top: 0.5rem;
    justify-content: space-between;
    display: flex;
}

.header_table {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.table-custom {
    width: 100%;
}