<app-header-brand></app-header-brand>
<div class="container_app">
    <div></div>
    <div class="container_table" *ngIf="products">
        <div class="header_table">
            <div>
                <input type="text" [(ngModel)]="searchTerm" placeholder="Search...">
            </div>
            <div>
                <button (click)="addProduct()">
                    Agregar
                </button>
            </div>
        </div>

        <div class="container_table_in">
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>Logo</th>
                        <th>Nombre del producto</th>
                        <th>Descripción</th>
                        <th>Fecha de liberación</th>
                        <th>Fecha de reestructuración</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of pagedProducts">
                        <td>
                            <img class="logo_product" src="{{x.logo}}" alt="logo">
                        </td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.description }}</td>
                        <td>{{ x.date_release | date:'dd/MM/yyyy' }}</td>
                        <td>{{ x.date_revision | date:'dd/MM/yyyy' }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="footer_table">
                <div>
                    <label>{{ filteredProducts.length }} Resultados</label> <!-- Aquí agregamos el label -->
                </div>
                <div *ngIf="filteredProducts.length>maxPaginationValue">
                    <button [disabled]="currentPage === 1" (click)="prevPage()">
                        < </button>
                            <span>{{ currentPage }} / {{ totalPages }}</span>
                            <button [disabled]="currentPage === totalPages" (click)="nextPage()"> > </button>
                </div>
                <select [(ngModel)]="pageSize" (change)="updatePage()">
                    <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
                </select>
            </div>
        </div>
    </div>

</div>