$color-primary: #fbda03;
$color-secondary: #2e3673;
$color-tertiary: #e5e5e5;
$color-background: #f8f9fa;
$color-white: #fff;
$color-text: #333;
$color-text-disabled: #b0b0b0;
$color-border-input: #a3a3a3;
$color-text-invalid: #fa0000;
$background-app: #f5f5f5;